<fieldset>
    <div *ngIf="container?.amount">
        <label class="col-md-4 control-label" style="font-weight:600">Amount left [&mu;l]</label>
        <div class="col-md-8" style="text-align:right">
            <label>{{container?.amount}}</label>
        </div>
    </div>

    <div>
        <label class="col-md-3 control-label" style="font-weight:600">Location</label>
        <div class="col-md-9" style="text-align:right">
            <label>{{container?.freezer?.fullPath}}</label>
        </div>
    </div>

    <div>
        <label class="col-md-12 control-label" style="font-weight: 600;">Reason:</label>
        <div class="col-md-12">
            <textarea name="reason" class="form-control" [(ngModel)]="reason" placeholder="Please provide the reason" validationModel='{ "id":"model.reason", "required":true }'></textarea>
        </div>
    </div>
</fieldset>