<h5 class="branch-header" [class.current-node]="isCurrentPath()" (click)="onBranchHeaderClick()">

        <span *ngIf="!isEmpty()">
            <i *ngIf="!isExpanded" class="material-icons pull-xs-left">keyboard_arrow_right</i>
            <i *ngIf="isExpanded" class="material-icons pull-xs-left">keyboard_arrow_down</i>
            {{ city.name }}
        </span>

        <span class="header-for-empty-branch" *ngIf="isEmpty()">
            {{ city.name }}
        </span>


        <i class="addNewLocation" (click)="onAddLocationIconClick()">add</i>
</h5>

<ul *ngIf="isExpanded">
    <li office-branch-view *ngFor="let office of city.offices" [office]="office">
    </li>
</ul>
