<div class="container-fluid">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form class="form-horizontal" (ngSubmit)="onSubmit()">
            <fieldset>
                <legend>Login</legend>

                <div class="form-group container">
                    <label class="col-md-4 control-label">Email</label>
                    <div class="col-md-4">
                        <input name="email" type="text" placeholder="Email" class="form-control input-md" [(ngModel)]="model.userName" validationModel='{ "id":"UserName", "required":true }'>
                    </div>
                </div>

                <div class="form-group container">
                    <label class="col-md-4 control-label">Password</label>
                    <div class="col-md-4">
                        <input name="password" type="password" placeholder="Password" class="form-control input-md" [(ngModel)]="model.password" validationModel='{ "id":"Password", "required":true }'>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4">
                        <button class="btn btn-primary">Login</button><!--  [disabled]="result!=null" -->
                        <button (click)="cancel()" type="button" class="btn btn-secondary">Cancel</button>
                    </div>
                </div>
            </fieldset>
        </form>

        <br />
        <a [routerLink]="['/register']">Register</a>

    </div>
    <div class="col-md-2"></div>
</div>
