.odd {
    background-color: rgba(2, 117, 216, 0.09);
}

.even {
}

.hidden {
    visibility: hidden;
}

.full {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.content-full {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.containers-table {
    margin: 30px 0 0 0;
    min-height:320px;
}

#containersTable{
    min-height:320px;
}
